.btn {
  cursor: pointer;
  color: var(--title-cl);
  background-color: var(--btn-bg);
  border-width: 0px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  min-height: 38px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
 
/*Кнопка заказа услуги*/
.service__button {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  min-width: 200px;
  margin-top: 30px;
  fill: var(--alt-text-cl);
}
 
.service__button:hover,
.subscribe__button:hover {
  animation: scale 1.5s ease-in-out;
}
 
@keyframes scale {
  5% {
  transform: scale(1);
  }
  25% {
  transform: scale(0.9);
  }
  50% {
  transform: scale(1);
  }
}

.send-btn {
  margin-right: 124px;
  margin-left: 124px;
}

.subscribe__button {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
  min-height: 50px;
  min-width: 200px;
  fill: var(--alt-text-cl);
}