body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
p,
img {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  color: inherit;
  text-decoration: none;


  &:hover, 
  &:focus {
    color: var(--accent-cl);

    @extend %color-effects;
  }
}

.current {
  color: var(--accent-cl);
  display: block;
  width: 100%;
  height: 100%;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-cl);
    position: relative;
    top: 32px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
/*Скрытый заголовок*/
.vanish {
  display: none;
}

/*Cнятие отображения вcтроенного фокуса форм браузера*/
input,
textarea {
  outline: none;
  user-select: none;
}