:root {
    --main-text-cl: #757575;
    --title-cl: #212121;
    --accent-cl: #2196f3;
    --alt-text-cl: #ffffff;
  
    --dark-bg: #2f303a;
    --second-bg: #e5e5e5;
    --btn-bg: #f5f4fa;
  
    --main-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
  }