/*Футер*/
.footer {
  background: var(--dark-bg);
  color: --foot-txt;
  height: 252px;
  padding-top: 60px;
}
  
.footer__content {
  display: flex;
}

.footer__address-block {
  margin-right: 70px;
}

.address-white {
  color: var(--alt-text-cl);
  margin-top: 20px;
}

.footer-mail {
  margin-top: 9px;
}

.footer-phone {
  margin-top: 9px;
}

.footer__address {
  font-style: inherit;
} 