/*Фильтры*/
.portfolio__filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio__filter > li {
  margin-right: 8px;
}
 
.portfolio__filter:last-child {
  margin-right: 0;
}