.team__contacts {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}
  
.team__contacts__list {
  display: inline-flex;
}
  
.team__contacts__social {
  fill: var(--clients-cl);

  @extend %fill-effects;
  @extend %background-effects;

}

.team__contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--connect-cl);
  
  &:hover,
  &:focus {
    background-color: var(--accent-cl);
  }
    
  &:hover .team__contacts__social,
  &:focus .team__contacts__social {
    fill: var(--alt-text-cl);
  }

  @extend %background-effects;
  
}