.team__contacts {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}
  
.team__contacts__list {
  display: inline-flex;
}
  
.team__contacts__social {
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--connect-cl);
  
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.team__contacts__link:hover,
.team__contacts__link:focus {
  background-color: var(--accent-cl);
}
  
.team__contacts__link:hover .team__contacts__social,
.team__contacts__link:focus .team__contacts__social {
  fill: var(--alt-text-cl);
}